@using ViewModels.Models
@model Person

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>One Person Page</title>
</head>

<body>

    <div class='container'>

        <h2> Here is a page with one person on it !!! </h2>
        <hr>

        <h5> @Model.FirstName, @Model.LastName </h5>

    </div>

    <div class="links">
        <a href="/">Home</a> |
        <a href="/nums">Numbers</a> |
        <a href="/users">Users List</a> |
        <a href="/user">One User</a>
    </div>

</body>

</html>